@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: gray;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,.footer,.left-links,.right-links{
  display: flex;
  width: 100vw;
  
}
.header,.footer{
  align-self:  space-between;
  justify-content: space-between;
}
.left-links,.right-links{
  flex: 0 0 0;
  padding: 30px;
  gap:30px;
  
}
.footer{
  background: lightgray;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
