* {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1/2fr 3fr 1fr ;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.logo{
  display: grid;
  justify-content: start;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1/3;
  
}
.menu>ul{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px,1fr));
  
}

.menu ul, .menu li {
  font-size: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  
}

.sidebar {
  background-color: #C50208;
  grid-column: 1/2;
  grid-row: 2/4;
  display: grid;
  gap:50px
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #C50208;
}

.nav>ul{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px,1fr));
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  display: grid;
  gap:15px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/5/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}